xml/rutas.dtd

<!ELEMENT rutas (ruta+)>

<!ELEMENT ruta (nombre, tipo, transporte, fechaInicio?, horaInicio?,
                duracion, agencia, descripcion, personas,
                inicio, referencias, recomendacion,
                hitos, planimetria, altimetria)>

<!ELEMENT nombre        (#PCDATA)>
<!ELEMENT tipo          (#PCDATA)>
<!ELEMENT transporte    (#PCDATA)>
<!ELEMENT fechaInicio   (#PCDATA)>
<!ELEMENT horaInicio    (#PCDATA)>
<!ELEMENT duracion      (#PCDATA)>
<!ELEMENT agencia       (#PCDATA)>
<!ELEMENT descripcion   (#PCDATA)>
<!ELEMENT personas      (#PCDATA)>
<!ELEMENT recomendacion (#PCDATA)>
<!ELEMENT planimetria   (#PCDATA)>
<!ELEMENT altimetria    (#PCDATA)>

<!ELEMENT inicio    (lugar, direccion, coordenadas)>
<!ELEMENT lugar     (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>

<!ELEMENT coordenadas (longitud, latitud, altitud)>
<!ELEMENT longitud    (#PCDATA)>
<!ELEMENT latitud     (#PCDATA)>
<!ELEMENT altitud     (#PCDATA)>
<!ATTLIST altitud     unidad CDATA #REQUIRED>

<!ELEMENT referencias (referencia+)>
<!ELEMENT referencia  (#PCDATA)>

<!ELEMENT hitos (hito+)>
<!ELEMENT hito  (nombre?, descripcion?, coordenadas, distancia, fotos?, videos?)>

<!ELEMENT distancia (#PCDATA)>
<!ATTLIST distancia unidades CDATA #REQUIRED>

<!ELEMENT fotos (foto+)>
<!ELEMENT foto  (#PCDATA)>

<!ELEMENT videos (video+)>
<!ELEMENT video  (#PCDATA)>
